body {
    background-color: #FEF8F8;
    font-size: 100%;
}

#mainView {
    width: 100%;
    /* display: block; */
    /* justify-content: center;
    align-items: center; */
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 27%;
    position: static;
}

.header a {
    margin-bottom: 0.5%;
    padding: 15px;
    text-decoration: none;
    font-weight: 600;
    color: #313549;
    position: static;
}

.profil {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 1095px;
    padding-top: 5%;
    padding-bottom: 5%;
    position: absolute;

}

a:hover,
a:active {
    color: #18BFAB;
}

h1 {
    margin-left: 8%;
    color: #313549;
    font-size: 4.0vw;
    font-weight: bolder;
    font-family: 'Sono', sans-serif;
    letter-spacing: -2px;
    line-height: 40px;
}

.photoProfil {
    float: right;
    margin-top: -450px;
    margin-right: -340px;
}

.logosHome {
    padding: 0 10px 0 10px;
    margin-left: 5%;
    margin-top: 40%;
    margin-bottom: 4%;
}

h2 {
    color: #313549;
    font-family: 'Sono', sans-serif;
    font-size: 3.5vw;
    text-align: left;
    
}

h3 {
    color: #313549;
    font-family: 'Sono', sans-serif;
    font-size: 2.5vw;
    text-align: left;
}

h4 {
    color: #313549;
    font-family: 'Sono', sans-serif;
    font-size: 2vw;
    text-align: left;
}

#nameHome {
    float: right;
    margin-top: -10%;
}

.quiSuisJe h2 {
    margin-top: 5%;
    margin-left: 6%;
    padding-top: 5%;
    padding-bottom: 3%;
    color: #18BFAB;
    font-size: 3.5vw;
    font-weight: bold;
}

#savoirs {
    background-color: #18BFAB;
    width: 100%;
    display: block;
}

.backgroundSavoirs {
    margin-top: 3%;
    margin-left: 3%;
}
#sectionTitle { 
    color: #FEF8F8;
    padding-top: 70px;
    margin-left: 3%;
    margin-bottom: 7%;
    font-size: 3.5vw;
    font-weight: bolder;
}

#sectionTitle2 {
    color: #FEF8F8;
    padding-top: 70px;
    margin-left: 3%;
    margin-bottom: 7%;
    font-size: 3.5vw;
    font-weight: bolder;
}

.experienceEtFormation {
    margin-right: 1%;
}
.experienceEtFormation h3, h4, p {
    margin-top: 4%;
    margin-left: 3%;
    margin-bottom: -2%;
    margin-right: 3%;

}

.experienceEtFormation p {
    margin-left: 3%;
    margin-bottom: -2%;
    margin-right: 3%;
}

p {
    color: #313549;
    margin-left: 6%;
    margin-right: 9%;
    font-family: 'Sono', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

#missionList {
    padding: 10px;
    margin-top: 4%;
    margin-bottom: 7%;
    margin-right: 5%;
    
}

#programList {
    padding: 10px;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-right: 5%;
    
}

li {
    color: #313549;
    margin-left: 4%;
    font-family: 'Sono', sans-serif;
    font-size: 20px;
    line-height: 45px;
}

.formation h2 {
    color: #FEF8F8;
    padding-top: 70px;
    margin-left: 9%;
    margin-bottom: 7%;
    font-size: 3.5vw;
    font-weight: bolder;
}

.logosFormation {
    margin-top: 3%;
    margin-left: 3%;
    margin-bottom: 10%;
}
