body {
    background-color: #FEF8F8;
    font-size: 100%;
}

#mainView {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: #FEF8F8;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    position: fixed;
    top: 0;
    bottom: 10;
    
}

.header a {
    padding: 15px;
    text-decoration: none;
    font-family: 'Sono', sans-serif;
    font-weight: 600;
    color: #313549;
}

a:hover,
a:active {
    color: #18BFAB;
    }

.profil {
    width: 100vw;
    padding-top: 11em;
}

h1 {
    padding-left: 1.3em;
    color: #313549;
    font-size: 4vw;
    font-weight: 500;
    font-family: 'Sono', sans-serif;
    letter-spacing: -1px;
    line-height: .6em;
}

#photoProfil {
    float: right;
    margin-top: -31em;
    padding-right: -9px;
    position: relative;
}

.logosHome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
    padding-right: 1em;
    padding-left: 4.4em;
}

.nameHome {
    margin-top: -3em;
    padding: 1.5em;
}

h2 {
    color: #313549;
    font-family: 'Sono', sans-serif;
    font-size: 3.5vw;
    text-align: left;
}

h3 {
    color: #313549;
    font-family: 'Sono', sans-serif;
    font-size: 2.5vw;
    text-align: left;
}

h4 {
    color: #313549;
    font-family: 'Sono', sans-serif;
    font-size: 2vw;
    text-align: left;
}

.nameHome {
    float: right;
}

.profilName {
    font-weight: 500;
}

#laPuissance {
    box-shadow: 2px 0 4px #313549;
}

#dejaDansLUnivers {
    box-shadow: 2px 0 4px #313549;
}

#jeDeveloppe {
    box-shadow: 2px 0 4px #313549;
}

#maCapacite {
    box-shadow: 2px 0 4px #313549;
}

#monObjectif {
    box-shadow: 2px 0 4px #313549;
}

.quiSuisJe {
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 2em;
    padding-left: 1em;
}

.quiSuisJe h2 {
    padding-left: 4em;
    padding-top: 1em;
    padding-bottom: 1em ;
    color: #18BFAB;
    font-size: 3.5vw;
    font-weight: bold;
}

#savoirs {
    background-color: #18BFAB;
    width: 100vw;
    display: block;
    padding-bottom: 4em;
}

.sectionTitles {
    color: #FEF8F8;
    padding-top: 2em;
    padding-bottom: 1em;
    padding-left: 4.5em;
    font-size: 3.5vw;
    font-weight: bolder;
}

.experienceEtFormation h3 {
    color: #FEF8F8; 
    padding-right: 1em;
    padding-left: 2.7em;
}

.experienceEtFormation h4 {
    color: #FEF8F8; 
    padding-right: 1em;
    padding-left: 3.5em;
}

.experienceEtFormation p {
    color: #FEF8F8;
    padding-right: 5em;
    padding-left: 5em;
}

p {
    color: #313549;
    padding-left: 5.5em;
    padding-right: 5em;
    padding-bottom: 1em;
    font-family: 'Sono', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.missionAndProgramList {
    padding: 2em;
}

li {
    color: #FEF8F8;
    margin-left: 4.3em;
    font-family: 'Sono', sans-serif;
    font-size: 20px;
    line-height: 2.5em;
}

.logosFormation {
    padding-top: 2em;
    padding-bottom: 3em;
    padding-left: 5.6em;
    
}

#passionTitle {
    color: #313549;
    padding-top: 1.5em;
    padding-bottom: 1em;
    padding-left: 4.5em;
    font-size: 3.5vw;
    font-weight: bolder;
}

.passionsList li {
    color: #313549;
    margin-left: 4.3em;
    font-family: 'Sono', sans-serif;
    font-size: 20px;
    line-height: 45px;
}

.passions {
    height: 100vh;
}

#contact {
    height: 100vh;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

#greetings {
    padding-top: 170px;
    padding-left: 30px;
    padding-right: 30px;
}

.phraseGreetings {
    background-color: #FEF8F8;
    font-size: 2em;
    padding: 10px;
}

#unBonCafe {
    margin: 1%;
    box-shadow: 2px 0 4px #313549;
}

.footerData {
    margin-top: 20%;
    padding-left: 30px;
}

.footerBaseline {
    margin-top: 7em;
    margin-left: 1em;
    
}

#author {
    color: #313549;
}